@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 20% 96%;
    --foreground: 220 15% 20%;
    --card: 0 0% 100%;
    --card-foreground: 220 15% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 15% 20%;
    --primary: 213 74% 47%;
    --primary-foreground: 210 40% 98%;
    --secondary: 36 20% 90%;
    --secondary-foreground: 30 20% 25%;
    --muted: 45 12% 90%;
    --muted-foreground: 30 9% 45%;
    --accent: 210 35% 88%;
    --accent-foreground: 220 40% 25%;
    --destructive: 358 78% 62%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 15% 80%;
    --input: 40 15% 80%;
    --ring: 213 74% 47%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 218 22% 12%;
    --foreground: 48 22% 90%;
    --card: 220 18% 16%;
    --card-foreground: 48 22% 90%;
    --popover: 220 18% 16%;
    --popover-foreground: 48 22% 90%;
    --primary: 213 70% 62%;
    --primary-foreground: 220 18% 14%;
    --secondary: 220 14% 20%;
    --secondary-foreground: 48 20% 85%;
    --muted: 220 14% 22%;
    --muted-foreground: 45 15% 70%;
    --accent: 214 25% 30%;
    --accent-foreground: 48 20% 88%;
    --destructive: 354 65% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 15% 26%;
    --input: 220 15% 26%;
    --ring: 213 70% 62%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  body.admin-panel-mode {
    background-color: transparent;
  }
}
